<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles">
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap" rel="stylesheet">
	<title>NB</title>
</head>
<body>
<main>
	<h1>{{strings.header}}</h1>
		<p class="intro">{{strings.intro}}</p>
		<p class="intro">{{strings.intro2}}</p>
	<h2>Projects</h2>
	<div class="project">
		<img src="Undebit.png" class="app-icon">
		<div class="project-desc">
			<h3>Undebit</h3>
			<p>{{strings.undebitDesc}}</p>
		</div>
	</div>
	<h2>Technologies</h2>
	<h3>Primary</h3>
		<p class="expl">Technologies I'm very profecient in:</p>
		<p>{{#each arrays.tech1}}<span class="capsule">{{this}}</span>{{/each}}</p>
	<h3>Secondary</h3>
	<p class="expl">Technologies I'm able to work with:</p>
		<p>{{#each arrays.tech2}}<span class="capsule">{{this}}</span>{{/each}}</p>
	<h3>Tools</h3>
		<p>{{#each arrays.tools}}<span class="capsule">{{this}}</span>{{/each}}</p>
</main>
</body>
</html>