<div class="gprevlarge">
    <div><a href="/garden/{{path}}">{{title}}</a> {{maturity}}</div>
    <div class="tags">
        {{#each tags}}<span class="tag">{{this}}</span>{{/each}}
    </div>
    <div class="meta">Last tended: {{last_tended}}</div>
</div> 