{{#*inline "bigLink"}}
    <a class="block text-xl py-2" href="{{href}}">&gt; {{text}}</a>
{{/inline}}

{{#*inline "smolLink"}}
    <a class="block text-sm" href="{{href}}">&gt;{{text}}</a>
{{/inline}}

{{#*inline "section"}}
    <h2 class="text-3xl text-accent font-bold">{{text}}</h2>
{{/inline}}

{{#*inline "sectionDescription"}}
    <p class="mb-4">{{text}}</p>
{{/inline}}

{{!-- Takes `PostPreview` --}}
{{#*inline "postPreview"}}
    <div class="basis-1/3 bg-card p-2">
        <h3 class="text-lg text-accent font-bold text-center">{{title}}</h2>
        <p class="text-xs mt-2">
            {{abs}}
        </p>
    </div>
{{/inline}}

<div class="grid grid-cols-5 ">
    <div class="col-span-2 flex flex-col">
        <div class="relative center-vh">
            <h1 class="text-[3rem]">Hi, I'm <span class="text-accent font-bold font-mono">WTEDST</span></h1>
            <h2 class="text-[1.3rem]">I do <span class="text-accent font-mono">programming</span>, and I'm very good at it</h2>
            <h3 class="mt-6 text-[1.15rem]">Currently iOS developer at <a class="font-bold text-accent" href="https://tbo.de/">TBO</a></h3>
            <div class="mt-2 flex flex-row gap-2">
                {{> smolLink href="bio" text="bio"}}
                {{> smolLink href="bio" text="email"}}
                {{> smolLink href="bio" text="insta"}}
                {{> smolLink href="bio" text="twitter"}}
                {{> smolLink href="bio" text="github"}}
            </div>
        </div>
    </div>
    <div class="col-span-3 mt-10 ml-10 flex flex-col gap-y-10 justify-between">
        <div>
            {{> section text="Writing"}}
            {{> sectionDescription text="Mostly about programming." }}
            <div class="grid grid-cols-3 gap-4 my-4">
                {{#each posts}}
                    {{> postPreview }}
                {{/each}}
            </div>
            
            {{> bigLink href="posts" text="See all"}}
        </div>
        
        <div>
            {{> section text="Library"}}
            {{> sectionDescription text="Resources that I like." }}
            <ul>
                <li>{{> bigLink href="library-programming" text="Programming"}}</li>
                <li>{{> bigLink href="library-maths" text="Maths"}}</li>
            </ul>
        </div>

        <div>
            {{> section text="Photography"}}
            {{> sectionDescription text="I used to do some fashion photography. Maybe will do some more in the future." }}
            {{> bigLink href="https://unsplash.com/@wtedst" text="View on Unsplash"}}
        </div>
    </div>
</div>